{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "targetexplosion",
      "config" : {
        "onlyHitTerrain" : true
      }
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/interface/rocket_lockon.ogg" ]
    }
  ]
}
