{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      "Floran ",
      [ { "mode" : "alts" }, "Creature", "Monster", "Alien", "Steak", "Game", "Prey", "Predatory" ],
      [ { "mode" : "alts" }, "stabber", "pike", "spear", "stick", "render", "poker", "sticker", "lance", "puncture", "impaler" ]
    ]
  ]
}
