{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rb-repulsionexplosion"
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/shadowsmoke/shadowsmoke.animation",
                "approach" : [1, 1],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "timeToLive" : 1.0,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [1, 1]
                }
              }
            }
          ]
        },
        {
          "action" : "spark"
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/shadowsmoke/shadowsmoke.animation",
                "approach" : [10, 10],
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "timeToLive" : 1.0,
                "variance" : {
                  "position" : [2, 2],
                  "initialVelocity" : [10, 10]
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
